{% extends 'base.html' %}
{% block content %}
<body>
    <div class="container">
        <h1>Admin Login</h1>
        {% if error_message %}
        <p class="error">{{ error_message }}</p>
        {% endif %}
        <form method="POST">
            <div> 
                <label for="username">Username</label>
                <input type="text" name="username">
            </div>
            <br> 
            <div> 
                <label for="password">Password</label>
                <input type="text" name="password">
            </div>
            <br>
            <br>
            <button type="submit">Submit</button>
        </form>
        {% if authenticated %}
            <h2>Total Sales: ${{ total_sales }}</h2>
            {% for seat in chart %}
            <p>{{ seat }}</p>
            {% endfor %}
        {% endif %}
        
    </div>
</body>
{% endblock %}