{% extends 'base.html' %}
{% block content %}
<body>
    <div class="container">
        <h1>Admin Login</h1>
        {% if error_message %}
        <p class="error">{{ error_message }}</p>
        {% endif %}
        <form method="POST">
            <label for="username">Username</label>
            <input type="text" name="username">
            <br>
            <label for="password">Password</label>
            <input type="text" name="password">
            <br>
            <button type="submit">Submit</button>
        </form>
        {% if authenticated %}
            {% for seat in chart %}
                <p>{{ seat }}</p>
            {% endfor %}
        {% endif %}
        
    </div>
</body>
{% endblock %}