{% extends 'base.html' %}
{% block content %}
<body>
    <div class="container"><h1>Make a Reservation</h1>
        {% for seat in chart %}
                    <p>{{ seat }}</p>
        {% endfor %}
        <form action="/reserve" method="post">
            <label for="first_name">First Name:</label>
            <br>
            <input type="text" id="first_name" name="first_name" required><br>
            <label for="last_name">Last Name:</label>
            <br>
            <input type="text" id="last_name" name="last_name" required><br>
            <label for="row">Seat Row:</label>
            <br>
            <input type="number" id="row" name="row" min="1" max="12" required><br>
            <label for="column">Seat Column:</label>
           <br>
            <input type="number" id="column" name="column" min="1" max="4" required>
            <br>
            <br>
            <input type="submit" value="Reserve Seat">
        </form>
        <br>
        <a href="/">Back to Main Menu</a></div>
</body>
</html>
{% endblock %}
