{% extends 'base.html' %}

{% block title %}
    Make a Reservation
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Make Reservation</h1>
        {% if error_message %}
            <div class="alert">{{ error_message }}</div>
        {% endif %}
        {% for seat in chart %}
                <p>{{ seat }}</p>
        {% endfor %}
        <form action="/reservations" method="post">
            <div>
                <label for="first_name">First Name:</label>
                <input type="text" id="first_name" name="first_name" required>
                {% if errors and 'first_name' in errors %}
                    <p class="error">{{ errors['first_name'] }}</p>
                {% endif %}
            </div>
            <br>
            <div>
                <label for="last_name">Last Name:</label>
                <input type="text" id="last_name" name="last_name" required>
                {% if errors and 'last_name' in errors %}
                    <p class="error">{{ errors['last_name'] }}</p>
                {% endif %}
            </div>
            <br>
            <div>
                <label for="row">Seat Row:</label>
                <input type="number" id="row" name="row" min="1" max="12" required>
                {% if errors and 'row' in errors %}
                    <p class="error">{{ errors['row'] }}</p>
                {% endif %}
            </div>
            <br>
            <div>
                <label for="column">Seat Column:</label>
                <input type="number" id="column" name="column" min="1" max="4" required>
                {% if errors and 'column' in errors %}
                    <p class="error">{{ errors['column'] }}</p>
                {% endif %}
            </div>
            <br>
            <div>
                <input type="submit" value="Reserve Seat">
            </div>
        </form>
        <br>
        <br>
        <a href="/">Back to Main Menu</a>
    </div>
{% endblock %}